ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
BACKEND_PORT=5080
ConnectionStrings__Default=Server=host.docker.internal;Port=3306;Database=discord_broke_bot;User ID=discord_broke_bot;Password=replace-me;
Discord__BotToken=
Discord__ClientId=
Discord__ClientSecret=
Auth__FrontendBaseUrl=https://chitu.konnokai.me
Auth__PublicApiBaseUrl=https://chitu-api.konnokai.me
Auth__CookieName=chitu.auth
Auth__CookieHours=4
Auth__CookieSameSite=Lax
DataProtection__KeysPath=/keys
ForwardedHeaders__KnownProxies=127.0.0.1
